
.sporta-banner {
  height: 250px;
  position: relative;
  background: $sportwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 95px;
  filter: saturate(0);
}

.banner-title {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 7px;
  margin-right: -7px;
  color: white;
  filter: drop-shadow(10px 10px 45px rgba(0, 0, 0, .5));
}


// Director Section //

.directors-section {
  position: relative;
  height: 700px;
  background-color: $sportanavy;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 95px;
  margin-bottom: 25px;
}

.directors-section-white {
  position: relative;
  height: 700px;
  background-color: $sportwhite;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 95px;
  margin-bottom: -55px;
}

.directors-container {
  padding: 45px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.directors-title {
  font-size: 36px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: white;
  margin-bottom: 35px;
}

.directors-title-dark {
  font-size: 36px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: $sportanavy;
  margin-bottom: 35px;
}

.directors-row-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.directors-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  height: inherit;
}

.director-image {
  height: 200px;
  width: 75%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 45px;
  background-position: center;
  margin: 15px 10px;
}

.director-name {
  color: white;
  font-size: 21px;
  margin-bottom: 2px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.director-name-dark {
  color: $sportanavy;
  font-size: 21px;
  margin-bottom: 2px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.director-position {
  margin-bottom: 35px;
  color: $sportablue;
  font-weight: 200;
  font-size: 14px;
}

.director-info {
  width: 75%;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.director-info-dark {
  width: 75%;
  text-align: center;
  margin-bottom: 10px;
  color: $sportanavy;
  font-weight: 400;
  font-size: 14px;
}
